@import 'prismjs/themes/prism-coy.css';

.vue-diff-table {
	background-color: #fdfdfd;
	background-image: linear-gradient(transparent 50%, rgba(69, 142, 209, 0.04) 50%);
	background-size: 3em 3em;
	background-origin: content-box;
	background-attachment: local;
}

.vue-diff-table code[class*="language-"],
.vue-diff-table pre[class*="language-"] {
	background: none;
}