/**
 * based
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

.vue-diff-viewer {
  background-color: #272822;
}

/* based */

.vue-diff-viewer code[class*="language-"],
.vue-diff-viewer pre[class*="language-"] {
  color: #f8f8f2;
  background: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
.vue-diff-viewer pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

.vue-diff-viewer :not(pre) > code[class*="language-"],
.vue-diff-viewer pre[class*="language-"] {
  background: #272822;
}

/* Inline code */
.vue-diff-viewer :not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}

.vue-diff-viewer .token.comment,
.vue-diff-viewer .token.prolog,
.vue-diff-viewer .token.doctype,
.vue-diff-viewer .token.cdata {
  color: #8292a2;
}

.vue-diff-viewer .token.punctuation {
  color: #f8f8f2;
}

.vue-diff-viewer .token.namespace {
  opacity: .7;
}

.vue-diff-viewer .token.property,
.vue-diff-viewer .token.tag,
.vue-diff-viewer .token.constant,
.vue-diff-viewer .token.symbol,
.vue-diff-viewer .token.deleted {
  color: #f92672;
}

.vue-diff-viewer .token.boolean,
.vue-diff-viewer .token.number {
  color: #ae81ff;
}

.vue-diff-viewer .token.selector,
.vue-diff-viewer .token.attr-name,
.vue-diff-viewer .token.string,
.vue-diff-viewer .token.char,
.vue-diff-viewer .token.builtin,
.vue-diff-viewer .token.inserted {
  color: #a6e22e;
}

.vue-diff-viewer .token.operator,
.vue-diff-viewer .token.entity,
.vue-diff-viewer .token.url,
.vue-diff-viewer .language-css .token.string,
.vue-diff-viewer .style .token.string,
.vue-diff-viewer .token.variable {
  color: #f8f8f2;
}

.vue-diff-viewer .token.atrule,
.vue-diff-viewer .token.attr-value,
.vue-diff-viewer .token.function,
.vue-diff-viewer .token.class-name {
  color: #e6db74;
}

.vue-diff-viewer .token.keyword {
  color: #66d9ef;
}

.vue-diff-viewer .token.regex,
.vue-diff-viewer .token.important {
  color: #fd971f;
}

.vue-diff-viewer .token.important,
.vue-diff-viewer .token.bold {
  font-weight: bold;
}
.vue-diff-viewer .token.italic {
  font-style: italic;
}

.vue-diff-viewer .token.entity {
  cursor: help;
}